.sobre {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.sobre__titulo {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 1.25rem;
}

.sobre__texto {
    line-height: normal;

    margin-bottom: 1rem;
}

.sobre__texto--destaque {
    color: var(--cinza-escuro);
    font-weight: 700;
}

.sobre__plataformas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-bottom: 1rem;
}

.sobre__imagem {
    display: none; /*Esconder uma uma imagem para n達o aparecer na vers達o mobile primeiro*/
}

@media screen and (min-width: 768px) {
    .sobre {
        display: flex;
    }

    .sobre__conteudo {
        margin-right: 3rem;
    }

    .sobre__titulo {
        text-align: left;
    }

    .sobre__texto--divisao {
        border-bottom: 1px solid var(--cinza-medio);
        padding-bottom: 1.5rem;
    }

    .sobre__imagem {
        display: block; /*Fazendo a imagem que foi retirada na vers達o mobile aparecer na vers達o ipad*/
    }
}

@media screen and (min-width: 1024px) {
    .sobre {
        display: flex;
    }

    .sobre__conteudo {
        margin-right: 3rem;
    }

    .sobre__titulo {
        text-align: left;
    }

    .sobre__texto--divisao {
        border-bottom: 1px solid var(--cinza-medio);

        padding-bottom: 1.5rem;
    }

    .sobre__imagem {
        display: block;
    }
}